In [51]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as py

In [70]:
file = pd.read_excel('Data_Extract.xlsx')
file.head()

,Country Name,Country Code,Series Name,Series Code,1970 [YR1970],1971 [YR1971],1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Afghanistan,AFG,Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,..,..,..,..,..,..,...,1.39304e+10,..,..,..,..,..,..,..,..,..
2,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,1.67371e+09,1.75292e+09,1.533e+09,1.66168e+09,2.06059e+09,2.24766e+09,...,1.39304e+10,1.55842e+10,1.72877e+10,1.77791e+10,1.76824e+10,1.72851e+10,1.64829e+10,1.6917e+10,..,..
3,Afghanistan,AFG,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,...,477.307,..,..,..,..,..,..,..,..,..

In [71]:
file = file[file['Country Code'] == 'IND']
file.head()

,Country Name,Country Code,Series Name,Series Code,1970 [YR1970],1971 [YR1971],1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
35595,India,IND,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,..,1.3006,1.34679,4.12928,-4.24959,4.88424,...,10.5721,4.99924,6.12537,5.72455,6.99105,8.8163,7.57046,5.13696,..,..
35596,India,IND,Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,1.91537e+11,1.94028e+11,1.96642e+11,2.04761e+11,1.9606e+11,2.05636e+11,...,1.44757e+12,1.51994e+12,1.61304e+12,1.70538e+12,1.8246e+12,1.98547e+12,2.13577e+12,2.24549e+12,..,..
35597,India,IND,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,5.77683e+10,6.21927e+10,6.58994e+10,7.90631e+10,9.1428e+10,8.92224e+10,...,1.44757e+12,1.57354e+12,1.58074e+12,1.60004e+12,1.77276e+12,1.84066e+12,1.99267e+12,2.24694e+12,..,..
35598,India,IND,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,..,-0.961036,-0.958764,1.73375,-6.45657,2.47713,...,9.08908,3.65492,4.82632,4.48118,5.77233,7.60798,6.40443,4.0257,..,..
35599,India,IND,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,344.994,341.679,338.403,344.27,322.042,330.019,...,1172.8,1215.67,1274.34,1331.45,1408.3,1515.45,1612.5,1677.42,..,..

In [72]:
file.rename(columns = {'Series Name' : "Name", 'Series Code' : 'Code'}, inplace = True)
del file['Country Code']
del file['Country Name']
file.columns

Index(['Name', 'Code', '1970 [YR1970]', '1971 [YR1971]', '1972 [YR1972]',
       '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]', '1976 [YR1976]',
       '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]', '1980 [YR1980]',
       '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]', '1984 [YR1984]',
       '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]', '1988 [YR1988]',
       '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]', '1992 [YR1992]',
       '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]', '1996 [YR1996]',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]'],
      dtype='object')

In [73]:
file.columns = file.columns.str.slice(0,4,1)
file.columns

Index(['Name', 'Code', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [75]:
codes = ['NY.GDP.MKTP.CD', 'NY.GDP.MKTP.KD.ZG', 'NV.AGR.TOTL.KD.ZG', 'NV.IND.TOTL.KD.ZG', 'NV.IND.MANF.KD.ZG',
         'NV.SRV.TOTL.KD.ZG', 'NE.CON.TOTL.KD.ZG', 'NE.GDI.TOTL.KD.ZG', 'NE.EXP.GNFS.KD.ZG', 'NE.IMP.GNFS.KD.ZG',
         'NV.AGR.TOTL.ZS', 'NV.IND.TOTL.ZS', 'NV.SRV.TOTL.ZS', 'NE.CON.TOTL.ZS', 'NE.GDI.TOTL.ZS', 'NE.EXP.GNFS.ZS',
         'NE.IMP.GNFS.ZS', 'NY.GNP.PCAP.CD', 'NY.GNP.PCAP.PP.CD', 'SP.POP.TOTL', 'NY.GNS.ICTR.ZS', 'NY.ADJ.SVNG.GN.ZS', 
         'TX.VAL.MRCH.XD.WD', 'TM.VAL.MRCH.XD.WD', 'BX.TRF.PWKR.DT.GD.ZS', 'BN.CAB.XOKA.GD.ZS', 'BX.KLT.DINV.WD.GD.ZS',
         'FP.CPI.TOTL', 'TX.UVI.MRCH.XD.WD', 'TM.UVI.MRCH.XD.WD', 'TT.PRI.MRCH.XD.WD', 'SL.GDP.PCAP.EM.KD', 'SL.UEM.TOTL.ZS',
         'NV.AGR.EMPL.KD', 'NV.IND.EMPL.KD', 'NV.SRV.EMPL.KD']

In [79]:
New = file[file.Code.isin(codes)]
New.shape

(33, 52)

In [80]:
New.head()

,Name,Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
35603,"Adjusted net savings, including particulate em...",NY.ADJ.SVNG.GN.ZS,..,..,..,..,..,..,..,..,...,23.5241,21.8837,22.111,21.3186,20.4998,20.0085,18.7251,16.3134,..,..
35623,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,39.9278,38.0998,38.0177,41.162,38.1997,35.2695,33.443,34.9477,...,17.0265,17.192,16.8454,17.1484,16.7919,16.1745,16.2498,15.6195,14.6019,..
35624,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.KD.ZG,7.09217,-1.87737,-5.01848,7.20191,-1.52336,12.8898,-5.77818,10.0363,...,8.79176,6.3978,1.48746,5.57048,-0.216448,0.649599,6.26928,4.98246,2.91693,..
35629,"Agriculture, forestry, and fishing, value adde...",NV.AGR.EMPL.KD,..,..,..,..,..,..,..,..,...,1239.99,1374.92,1453.3,1520.5,1505.8,1506.65,1589.11,1662.34,1712.62,..
35639,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,..,..,..,..,..,-0.149805,1.5371,1.74442,...,-3.25348,-3.42929,-5.00489,-2.64567,-1.33951,-1.06755,-0.528887,-1.43907,-2.41287,..

In [81]:
GAES = ['NY.GDP.MKTP.CD', 'NY.GDP.MKTP.KD.ZG', 'NV.AGR.TOTL.KD.ZG', 'NV.IND.TOTL.KD.ZG', 'NV.IND.MANF.KD.ZG',
        'NV.SRV.TOTL.KD.ZG', 'NE.CON.TOTL.KD.ZG', 'NE.GDI.TOTL.KD.ZG', 'NE.EXP.GNFS.KD.ZG', 'NE.IMP.GNFS.KD.ZG',
        'NV.AGR.TOTL.ZS', 'NV.IND.TOTL.ZS', 'NV.SRV.TOTL.ZS', 'NE.CON.TOTL.ZS', 'NE.GDI.TOTL.ZS', 'NE.EXP.GNFS.ZS',
        'NE.IMP.GNFS.ZS']
IAS = ['NY.GNP.PCAP.CD', 'NY.GNP.PCAP.PP.CD', 'SP.POP.TOTL', 'NY.GNS.ICTR.ZS', 'NY.ADJ.SVNG.GN.ZS',]
BOP = ['TX.VAL.MRCH.XD.WD', 'TM.VAL.MRCH.XD.WD', 'BX.TRF.PWKR.DT.GD.ZS', 'BN.CAB.XOKA.GD.ZS', 'BX.KLT.DINV.WD.GD.ZS']
PATOT = ['FP.CPI.TOTL', 'TX.UVI.MRCH.XD.WD', 'TM.UVI.MRCH.XD.WD', 'TT.PRI.MRCH.XD.WD']
LAP = ['SL.GDP.PCAP.EM.KD', 'SL.UEM.TOTL.ZS','NV.AGR.EMPL.KD', 'NV.IND.EMPL.KD', 'NV.SRV.EMPL.KD']

In [83]:
New.loc[New['Code'].isin(GAES), 'Type'] = 'Growth and Economic Structure'
New.loc[New['Code'].isin(IAS), 'Type'] = 'Income and Savings'
New.loc[New['Code'].isin(BOP), 'Type'] = 'Balance of payments'
New.loc[New['Code'].isin(PATOT), 'Type'] = 'Prices and terms of trade'
New.loc[New['Code'].isin(LAP), 'Type'] = 'Labor and productivity'

C:\Users\VAMSHI\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [84]:
New.head()

,Name,Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Type
35603,"Adjusted net savings, including particulate em...",NY.ADJ.SVNG.GN.ZS,..,..,..,..,..,..,..,..,...,21.8837,22.111,21.3186,20.4998,20.0085,18.7251,16.3134,..,..,Income and Savings
35623,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,39.9278,38.0998,38.0177,41.162,38.1997,35.2695,33.443,34.9477,...,17.192,16.8454,17.1484,16.7919,16.1745,16.2498,15.6195,14.6019,..,Growth and Economic Structure
35624,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.KD.ZG,7.09217,-1.87737,-5.01848,7.20191,-1.52336,12.8898,-5.77818,10.0363,...,6.3978,1.48746,5.57048,-0.216448,0.649599,6.26928,4.98246,2.91693,..,Growth and Economic Structure
35629,"Agriculture, forestry, and fishing, value adde...",NV.AGR.EMPL.KD,..,..,..,..,..,..,..,..,...,1374.92,1453.3,1520.5,1505.8,1506.65,1589.11,1662.34,1712.62,..,Labor and productivity
35639,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,..,..,..,..,..,-0.149805,1.5371,1.74442,...,-3.42929,-5.00489,-2.64567,-1.33951,-1.06755,-0.528887,-1.43907,-2.41287,..,Balance of payments

In [90]:
New.to_excel("Output.xlsx")