In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as py

In [5]:
file = pd.read_excel('Data_Extract.xlsx')
file.head()

,Country Name,Country Code,Series Name,Series Code,1970 [YR1970],1971 [YR1971],1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Afghanistan,AFG,Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,..,..,..,..,..,..,...,1.39304e+10,..,..,..,..,..,..,..,..,..
2,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,1.67371e+09,1.75292e+09,1.533e+09,1.66168e+09,2.06059e+09,2.24766e+09,...,1.39304e+10,1.55842e+10,1.72877e+10,1.77791e+10,1.76824e+10,1.72851e+10,1.64829e+10,1.6917e+10,..,..
3,Afghanistan,AFG,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,...,477.307,..,..,..,..,..,..,..,..,..

In [7]:
file.rename(columns = {'Series Name' : "SNam", 'Series Code' : 'SCod', 'Country Name' : 'CNam', 'Country Code' : 'CCod'},
            inplace = True)
file.columns

Index(['CNam', 'CCod', 'SNam', 'SCod', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]'],
      dtype='object')

In [8]:
file.columns = file.columns.str.slice(0,4,1)
file.columns

Index(['CNam', 'CCod', 'SNam', 'SCod', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [9]:
codes = ['NY.GDP.MKTP.CD', 'NY.GDP.MKTP.KD.ZG', 'NV.AGR.TOTL.KD.ZG', 'NV.IND.TOTL.KD.ZG', 'NV.IND.MANF.KD.ZG',
         'NV.SRV.TOTL.KD.ZG', 'NE.CON.TOTL.KD.ZG', 'NE.GDI.TOTL.KD.ZG', 'NE.EXP.GNFS.KD.ZG', 'NE.IMP.GNFS.KD.ZG',
         'NV.AGR.TOTL.ZS', 'NV.IND.TOTL.ZS', 'NV.SRV.TOTL.ZS', 'NE.CON.TOTL.ZS', 'NE.GDI.TOTL.ZS', 'NE.EXP.GNFS.ZS',
         'NE.IMP.GNFS.ZS', 'NY.GNP.PCAP.CD', 'NY.GNP.PCAP.PP.CD', 'SP.POP.TOTL', 'NY.GNS.ICTR.ZS', 'NY.ADJ.SVNG.GN.ZS', 
         'TX.VAL.MRCH.XD.WD', 'TM.VAL.MRCH.XD.WD', 'BX.TRF.PWKR.DT.GD.ZS', 'BN.CAB.XOKA.GD.ZS', 'BX.KLT.DINV.WD.GD.ZS',
         'FP.CPI.TOTL', 'TX.UVI.MRCH.XD.WD', 'TM.UVI.MRCH.XD.WD', 'TT.PRI.MRCH.XD.WD', 'SL.GDP.PCAP.EM.KD', 'SL.UEM.TOTL.ZS',
         'NV.AGR.EMPL.KD', 'NV.IND.EMPL.KD', 'NV.SRV.EMPL.KD']

In [11]:
New = file[file.SCod.isin(codes)]
New.shape

(5181, 54)

In [12]:
New.head()

,CNam,CCod,SNam,SCod,1970,1971,1972,1973,1974,1975,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
8,Afghanistan,AFG,"Adjusted net savings, including particulate em...",NY.ADJ.SVNG.GN.ZS,..,..,..,..,..,..,...,-15.7209,-12.4267,-2.6221,5.48206,2.69217,0.346719,3.46475,2.7284,..,..
28,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,26.2101,23.7437,24.3909,22.8107,22.137,20.6343,21.0811,20.4665,..,..
29,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.KD.ZG,..,..,..,..,..,..,...,-6.37513,-7.59232,18.2248,0.00526743,-0.100705,-5.65722,5.97175,3.83766,-5.00034,..
34,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.EMPL.KD,..,..,..,..,..,..,...,909.689,879.009,1127.66,1073.2,1016.33,908.885,918.422,916.056,843.897,..
44,Afghanistan,AFG,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,..,..,..,..,..,..,...,-1.87523,-11.3834,-24.4053,-23.6211,-19.3644,-20.0786,-21.7457,-21.4308,-18.8748,..

In [13]:
GAES = ['NY.GDP.MKTP.CD', 'NY.GDP.MKTP.KD.ZG', 'NV.AGR.TOTL.KD.ZG', 'NV.IND.TOTL.KD.ZG', 'NV.IND.MANF.KD.ZG',
        'NV.SRV.TOTL.KD.ZG', 'NE.CON.TOTL.KD.ZG', 'NE.GDI.TOTL.KD.ZG', 'NE.EXP.GNFS.KD.ZG', 'NE.IMP.GNFS.KD.ZG',
        'NV.AGR.TOTL.ZS', 'NV.IND.TOTL.ZS', 'NV.SRV.TOTL.ZS', 'NE.CON.TOTL.ZS', 'NE.GDI.TOTL.ZS', 'NE.EXP.GNFS.ZS',
        'NE.IMP.GNFS.ZS']
IAS = ['NY.GNP.PCAP.CD', 'NY.GNP.PCAP.PP.CD', 'SP.POP.TOTL', 'NY.GNS.ICTR.ZS', 'NY.ADJ.SVNG.GN.ZS',]
BOP = ['TX.VAL.MRCH.XD.WD', 'TM.VAL.MRCH.XD.WD', 'BX.TRF.PWKR.DT.GD.ZS', 'BN.CAB.XOKA.GD.ZS', 'BX.KLT.DINV.WD.GD.ZS']
PATOT = ['FP.CPI.TOTL', 'TX.UVI.MRCH.XD.WD', 'TM.UVI.MRCH.XD.WD', 'TT.PRI.MRCH.XD.WD']
LAP = ['SL.GDP.PCAP.EM.KD', 'SL.UEM.TOTL.ZS','NV.AGR.EMPL.KD', 'NV.IND.EMPL.KD', 'NV.SRV.EMPL.KD']

In [15]:
New.loc[New['SCod'].isin(GAES), 'Type'] = 'Growth and Economic Structure'
New.loc[New['SCod'].isin(IAS), 'Type'] = 'Income and Savings'
New.loc[New['SCod'].isin(BOP), 'Type'] = 'Balance of payments'
New.loc[New['SCod'].isin(PATOT), 'Type'] = 'Prices and terms of trade'
New.loc[New['SCod'].isin(LAP), 'Type'] = 'Labor and productivity'

C:\Users\VAMSHI\Anaconda3\lib\site-packages\pandas\core\indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\VAMSHI\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\Users\VAMSHI\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\VAMSHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [16]:
New.head()

,CNam,CCod,SNam,SCod,1970,1971,1972,1973,1974,1975,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Type
8,Afghanistan,AFG,"Adjusted net savings, including particulate em...",NY.ADJ.SVNG.GN.ZS,..,..,..,..,..,..,...,-12.4267,-2.6221,5.48206,2.69217,0.346719,3.46475,2.7284,..,..,Income and Savings
28,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,23.7437,24.3909,22.8107,22.137,20.6343,21.0811,20.4665,..,..,Growth and Economic Structure
29,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.KD.ZG,..,..,..,..,..,..,...,-7.59232,18.2248,0.00526743,-0.100705,-5.65722,5.97175,3.83766,-5.00034,..,Growth and Economic Structure
34,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.EMPL.KD,..,..,..,..,..,..,...,879.009,1127.66,1073.2,1016.33,908.885,918.422,916.056,843.897,..,Labor and productivity
44,Afghanistan,AFG,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,..,..,..,..,..,..,...,-11.3834,-24.4053,-23.6211,-19.3644,-20.0786,-21.7457,-21.4308,-18.8748,..,Balance of payments

In [17]:
New.to_excel("All.xlsx")

In [ ]:
# Tableau code for calculation after pivot
// IF [Value]<0 THEN '-' ELSE '' END
+
'$'
+
STR(INT(ROUND(ABS([Value])/POWER(1000,INT(LOG(ROUND(ABS([Value])/10,0)*10,1000))),1)))
+
IF (ROUND(ABS([Value])/POWER(1000,INT(LOG(ABS([Value]),1000))),1)*10)%10=0
THEN ''
ELSE '.' + STR((ROUND(ABS([Value])/POWER(1000,INT(LOG(ABS([Value]),1000))),1)*10)%10)
END
+
CASE 
INT(LOG(ROUND(ABS([Value])/10,0)*10,1000))
WHEN 1 THEN 'K'
WHEN 2 THEN 'M'
WHEN 3 THEN 'B'
WHEN 4 THEN 'T'
ELSE ''
END
//